<% content_for :body_content_title do %>
  <%= @report.keyword %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Keyword</h1>
    <p>
      <%=raw @report.keyword %>
    </p>
  </section>
  <section>
    <h1>Location</h1>
    <p>
      <%=raw @report.location %>
    </p>
  </section>
  <section>
    <h1>Started At</h1>
    <p>
      <%=raw @report.started_at %>
    </p>
  </section>
  <section>
    <h1>Ended At</h1>
    <p>
      <%=raw @report.ended_at %>
    </p>
  </section>
  <section>
    <h1>Is Running</h1>
    <p>
      <%=raw @report.is_running %>
    </p>
  </section>
  <section>
    <h1>Chief</h1>
    <p>
      <%=raw @report.chief %>
    </p>
  </section>
  <section>
    <h1>Report</h1>
    <p>
      <%=raw @report.report %>
    </p>
  </section>
  <section>
    <h1>Author</h1>
    <p>
      <%=raw @report.author %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="reports">
      <% @reports.each do |report| %>
        <li>
          <%= link_to report.keyword, refinery.reports_report_path(report) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
