  <span>
    <%= f.label :name, class: 'inline_block' %>
    <%= f.text_field :name %>
  </span>
  <span>
    <%= f.label :position, class: 'inline_block' %>
    <%= f.text_field :position %>
  </span>
  <span>
    <%= f.label :info, class: 'inline_block' %>
    <%= f.text_field :info %>
  </span>
  <span>
    <%= f.link_to_remove refinery_icon_tag('delete') %>
  </span>
