<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :short_name %>
  <%= f.text_field :short_name %>
</div>

<div class="field">
<%= f.link_to_remove t('delete', :scope => 'refinery.reports.departments.admin.departments.vehicle') %>
</div>
