  <span>
    <%= f.label :name, class: 'inline_block' %>
    <%= f.text_field :name %>
  </span>
  <span>
    <%= f.label :short_name, class: 'inline_block' %>
    <%= f.text_field :short_name %>
  </span>
  <span>
    <%= f.link_to_remove refinery_icon_tag('delete') %>
  </span>
